/* RESET */

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
h1 { font-size: 1.5em; font-weight: bold; }
h3 { font-size: 1em; font-style: oblique; }
p  { font-size: .8em; }

h1, h3, p, a{ color: #C4C4CC; }

img { width: 50px;}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #121214;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* Efect light circle pink */
body::after {
    position: absolute;
    content: '';
    width: 1000px;
    height: 1000px;
    bottom: 72%;
    right: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #FF3D6E 0%, rgba(18, 18, 20, 0) 100%);
}
/* Efect light circle yellow */
body::before {
    position: absolute;
    content: '';
    width: 1000px;
    height: 1000px;
    bottom: 72%;
    left: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #FFC323 0%, rgba(18, 18, 20, 0) 100%);
}
    .cord {
        position: relative;
        width: 50px;
        height: 100px;
        background-color: #FF3D6E;
        bottom: 40px;
    }
    .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:358px;
    height: 540px;
    border-radius: 1em;
    background-color: #202024;
    }

    main.card p {
        padding: 0 5em;
        font-style: oblique;
    }
    
        .persona {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
            img.avatar {
                width: 50%;
                border-radius: 100%;
            }
            h1 {
                padding: .3em;
            }
            .myGithub a {
                display: flex;
                align-items: center;
                text-decoration: none;
                padding-bottom: 3em;
            }
            .github {
                width: 1.2em;
                margin-right: .5em;
            }

        .networksLinks {
            display: flex;
            align-items: center;
            align-items: center;
            justify-content: center;
            padding: 2em;
        }
            .networksLinks a {
                padding: .2em;
            }
            .networksLinks a img{
                width: 2em;
                height: 2em;
                border-radius: 25%;
                padding: 5px;

            }

            .networksLinks a:nth-child(1) img {
                border: 1px solid #c7355b; 
            }
            .networksLinks a:nth-child(2) img {
                border: 1px solid #5f04e3; 
            }
            .networksLinks a:nth-child(3) img {
                border: 1px solid #0C89F7; 
            }


        